name: main

on:
  push:
    branches:
    - main

jobs:

  build:
    name: build
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Cache Go
      id: go-cache
      uses: actions/cache@v2.1.6
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys:
          ${{ runner.os }}-go-

    - name: test
      run: |
        sudo apt install -y bash libpcap-dev jq
        make test-host

    - name: Login to ghcr.io
      uses: docker/login-action@v1.9.0
      with:
        registry: ghcr.io
        username: vcr-bot
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2.5.0
      with:
        version: latest
        args: release
      env:
        GITHUB_TOKEN: ${{ secrets.GHCR_TOKEN }}

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        submodules: true
    -
      name: Set up environment
      run: |
        make init
    -
      name: Publish Site
      uses: chabad360/hugo-gh-pages@master
      with:
        githubToken: ${{ secrets.GITHUB_TOKEN }}
        siteDir: /github/workspace/site
