name: pull request

on:
  pull_request:
    branches:
    - main

jobs:
  test:
    name: test
    # Need to run on 1804 for glibc compatability reasons
    runs-on: ubuntu-18.04
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16

    - name: Cache Go
      id: go-cache
      uses: actions/cache@v2.1.4
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys:
          ${{ runner.os }}-go-

    - name: test
      run: |
        sudo apt install -y bash libpcap-dev jq
        make test-host

  build:
    name: build
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.16

    - name: Cache Go
      id: go-cache
      uses: actions/cache@v2.1.4
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys:
          ${{ runner.os }}-go-

    - name: test
      run: |
        sudo apt install -y bash libpcap-dev jq

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        # TODO figure out appropriate args here
        args: release --rm-dist --snapshot
      #env:
      #  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
